<style>
  .pricing-page-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .pricing-grid {
    display: block;
    margin-bottom: 1em;
  }
  .pricing-grid .starter-plan {
    background-color: AliceBlue
  }
  .pricing-grid .pro-plan {
    background-color: HoneyDew
  }
  .pricing-grid .enterprise-plan {
    background-color: LavenderBlush
  }
  .pricing-grid > * {
    padding: 1rem;
  }
  @media (min-width: 768px) {
    .pricing-grid {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
<!-- MVP.css: https://andybrewer.github.io/mvp/ -->
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12.0/mvp.css" media="print" onload="this.media='all'">